.users {
  /* width: 80vw;
  height: 90px;

  justify-content: space-between;
  align-items: center;  */
  width: 100%;
  /* height: 6rem; */
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: #1E262F;
  border-radius: 10px;
  margin: 10px 0;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap;  */

}
.info {
  display: flex;
  flex-direction: column;
  align-content: center;
   margin-left: 20px;
   padding-top: 15px;

}
.email {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #bdbcbe;
  margin-top: 5px;
}
.user{
  display: flex;
  flex-direction: row;
}
.user-img {
  /* position: absolute;
  left: 20px; */
  transform: scale(1.3);
  padding: 5px 12px;
}

.bell{
    padding: 14px 5px;
    
    background: #36F5C7;
    border-radius: 10px;
    cursor: pointer;
    flex-wrap: wrap;
    flex: 0.12;
    margin: 10px 10px 10px 40px;
}
.bell-img{
    transform: scale(1.3);
}
.dropdown{
  transform:  rotate(90deg) !important;
  transition: transform 0.5s ease-out;
}

.open{
  transform: rotate(270deg) !important;
  transition: transform 0.5s ease-out;
}

.segment{
  flex: 100%;
  display: flex;  
  flex-direction: column;
  align-content: center;
  padding: 10px 15px;
  margin: 15px 0;
}

.heading{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 22px;
  /* border: 2px solid rgb(255, 255, 255,0.5); */
  padding: 5px;
  align-items: center;
  
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  text-transform: capitalize;
}

.heading img{
  margin: 0 10px;
  transform: scale(1);
}
@media (max-width: 995px){  

  .row{
      padding: 0 0 20px 0;
  }

  .users{

      width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: #1E262F;
  border-radius: 10px;
  margin: 10px 0;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; 
  }
  .name{
    flex: 100%;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 30px 0;
    border-radius: 10px;
}
}
@media (min-width: 996px){
.users{
  height: 90px;
}
}
